@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

/*=============== Navbar ===============*/
.navbar{
	height: 70px;
	/*padding-left: 7%;*/
	/*background-color: black;*/
}
/*=============== Navbar ===============*/

/*=============== Content1 ===============*/
.content1 {
	position: relative;
    background: #666666;
    overflow: hidden;
    /*height: 650px;*/
    text-align: center;
}
/*
.content1:before {
	content: ' ';
    display: block;
	background-position: center;
    position: absolute;
	padding-top: 5%;
    height: 650px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(img/bg-templateB.png);
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}*/

.content1 h1 {
	position: relative;
    color: #fff;
    z-index: 2;
    margin-top: 5%;
}

.content1 h3 {
	position: relative;
    color: #fff;
    z-index: 2;
}

.content1 img {
	position: relative;
    color: #fff;
    z-index: 2;
    width: 130px; 
    margin-top: 5%;
}

.content1 button {
	margin-top: 5%;
	width: 350px;
	height: 50px;
	border-radius: 20px;
	border-width: 3px;
	margin-bottom: 12%;
}
/*=============== Content1 ===============*/



/*=============== Content2 ===============*/
.content2 {
	/*height: 50%;*/
	text-align: center;
	background-color: #f7f7f7;
	padding: 5%;
}

.content2 img {
	padding-top: 5%;

}
/*=============== Content2 ===============*/



/*=============== Content3 ===============*/
.content3 {
	text-align: center;
	background-color: #ebe8e2;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.content3 h4 {
    margin-top: 120px;
}

.content3 h5 {
    margin-top: 50px;
}

.icon_content3 {
	margin-top: 50px;
}

.icon_content3 h6 {
	color: #898989;
}

#hr_ct3 {
	width: 90px;
	border-width: 3px;
}

#icon_size1{
	font-size: 4.2em;
}

#icon_size2{
	font-size: 3.7em;
}

#circle {
	font-size: 6em;
}
/*=============== Content3 ===============*/



/*=============== Content4 ===============*/
.content4 {
	/*text-align: center;*/
	background-color: #b9b2a1;
	/*padding-left: 5%;*/
	padding: 6%;
	color: white;
}

.img_custom {
	width: 200px;
	height: 200px;
	background-image: url(img/bg-templateB.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 4px solid white;
}

.content4 h5 {
	padding-left: 10%;
	padding-top: 5.5%;
}

#p_name {
	padding-left: 20%;
	padding-top: 4%;
	font-size: 14px;
}

.img_position{
	padding-left: 80px;
}
/*=============== Content4 ===============*/



/*=============== Content5 ===============*/
.content5 {
	text-align: center;
	background-color: #302d2e;
	color: #E59D69;
	padding-top: 6%;
	padding-bottom: 6%;
}

.content5 h3 {
	color: #b9b2a1;
}

.content5 p {
	color: #898989;
	font-size: 12px;
}

.content5 i {
	font-size: 2em;
	margin: 3%;
}
/*=============== Content5 ===============*/














