@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

h1.white:after {
	color: white;
}

h3.white{
	color: white;
}

/*=============== Navbar ===============*/
.navbar{
	height: 70px;
}
/*=============== Navbar ===============*/

/*=============== Content1 ===============*/
.content1 {
	position: relative;
    background: #666666;
    overflow: hidden;
    height: 650px;
    text-align: center;
}

.content1:before {
	content: ' ';
    display: block;
	background-position: center;
    position: absolute;
	padding-top: 5%;
    height: 650px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url(img/bg-templateB.png);
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.content1 h1 {
	position: relative;
    color: #fff;
    z-index: 2;
    margin-top: 5%;
}

.content1 h3 {
	position: relative;
    color: #fff;
    z-index: 2;
}

.content1 img {
	position: relative;
    color: #fff;
    z-index: 2;
    width: 130px; 
    margin-top: 5%;
}

.content1 button {
	margin-top: 5%;
	width: 35%;
	height: 50px;
	border-radius: 20px;
	border-width: 3px;
}
/*=============== Content1 ===============*/



/*=============== Content2 ===============*/
.content2 {
	height: 175px;
	text-align: center;
	padding-top: 70px;
	background-color: #f7f7f7;
	padding: 5%;
}
/*=============== Content2 ===============*/



/*=============== Content3 ===============*/
.content3 {
	text-align: center;
	background-color: #ebe8e2;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}

.content3 i {
	font-size: 4.2em;
}

.content3 h4 {
    margin-top: 120px;
}

.content3 h5 {
    margin-top: 50px;
}

.icon_content3 {
	margin-top: 50px;
}

.icon_content3 h6 {
	color: #898989;
}
/*=============== Content3 ===============*/



/*=============== Content4 & 5 ===============*/
.content4 {
	text-align: center;
	background-color: #b9b2a1;
	padding-left: 5%;
}

.img_custom {
	width: 200px;
	height: 200px;
	background-image: url(img/bg-templateB.png);
	background-size: cover;
	background-repeat: no-repeat;
	border: 4px solid white;
}

.content4 img {
	background-position: center;
    position: relative;
    width: 200px; 
    height: : 400px; 
}

.content5 {
	text-align: center;
	background-color: #302d2e;
}
/*=============== Content4 & 5 ===============*/